<?xml version="1.0" encoding="utf-8" ?>

<go-plugin id="git-release-tagger" version="1">
    <about>
        <name>GO - Git release tagger</name>
        <version>1</version>
        <target-go-version>16.10.0</target-go-version>
        <description>
            Go plugin to tag all the dependent git repositories post release.
        </description>
        <vendor>
            <name>ThoughtWorks</name>
            <url>www.thoughtworks.com</url>
        </vendor>
        <target-os>
            <value>Linux</value>
            <value>Mac OS X</value>
        </target-os>
    </about>
</go-plugin>